<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Exifile: Free your Scribd highlights from the cloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body id="exifile-landing-page">
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div id="wrapper">
      <div id="test-banner"></div>
      <%= require('html-loader!./_nav.html') %> <%=
      require('html-loader!./_header.html') %>
      <div class="two-column">
        <%= require('html-loader!./_column1.html') %>
        <section></section>
      </div>
      <%= require('html-loader!./_screenshots.html') %> <%=
      require('html-loader!./_footer.html') %>
    </div>
  </body>
</html>
