.overlay-info {
 padding: 20px auto;
 margin: 0 0 10px 0;
 color: #000;
 background-color:rgba(240,240,255,0.95);
 /*font-size: 30px;*/
 position: absolute;
 top: 0;
 padding: 60px;
 right: auto;
 left: auto;
 width: 100%;
 text-align: center;
 z-index: 9999;
}

.overlay-results {
  padding: 40px;
  margin: 0px auto 10px auto;
  color: #000;
  background-color:rgba(255,255,255,1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 850px;
  height: 100%;
  overflow: auto;
  z-index: 9999;
}

.header-style{
  display: inline-block;
  width: 75%;
  font-weight: bolder;
}
.buttons-header{
  display: inline-block;
  width: 20%;
  font-size: 90%;
  text-align: right;
}
.highlights-text{
  margin: 10px 0px;
  padding: 10px 0px;
  font-size: 90%;
}
.button-style{
  padding: 10px;
  margin: 10px;
}

.all-quotes{
  width: 100%;
  margin: 0;
  padding: 10px;
  /*list-style-type: none;*/
}

.quote-style{
  margin: 15px 0;
  padding: 15px 10px 15px 0;
}
.text{
  width: 99%;
}
.page-number{
  float: right;
  font-style: italic;
}
.note{
  font-weight: bolder;
}
.close-button{
  position: absolute;
  top: 10px;
  left: 850px;
  padding: 10px;
}
.close-button-e{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  font-size: 50%;
}
.exifile-footer{
  width: 100%;
  margin: 30px 0px 30px 10px;
  padding: 30px;
  text-align: center;
  font-size: 80%;
  font-weight: bolder;
}
